<div class="searchbar">
    <div>
        <form>
            <label>Search By </label>
            <select id="type" name="type" [(ngModel)]="search">
                <option [ngValue]="{type: 'container'}">Container</option>
                <option [ngValue]="{type: 'item'}">Item</option>
            </select>
        </form>
        <section>
            <div class="pi pi-search"></div><input type="text" name="search" (keyup)="searchTerm(searchbar.value)" #searchbar>
        </section>
    <div>
</div>
