/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html {
    font-family: 'Open Sans', sans-serif;
}

body {
    border: none !important;
    margin: 0px !important;
    padding: 0 !important;
    background-color: rgb(255, 250, 234);
}

button > div {
    margin-right: 5px;
}