<div class="background">
    <div class="modal">
        <header><div (click)="closeModal()">Close</div></header>
        <main>
            <app-container-form *ngIf="data.type == 'form'" (submitEvent)="addData($event)" [data]="data"></app-container-form>
            <app-item-form *ngIf="data.type == 'itemForm'" (submitEvent)="addData($event)" [data]="data"></app-item-form>

            <div name="modal" *ngIf="data.type == 'delete'">
                <div>Delete container #{{ data.id }}</div>
                <div>Are you sure you want to delete this container?</div>
                <div>All items inside will also be deleted.</div>
                <div>
                    <button (click)="deleteData(data.id)">Confirm</button>
                    <button (click)="closeModal()">Cancel</button>
                </div>
            </div>
        </main>
        <button (click)="getType()">data</button>
    </div>
</div>
