<div class="background">
    <div class="modal">
        <nav><div (click)="closeModal()" class="pi pi-times"></div></nav>
        <main>
            <app-container-form *ngIf="data.type == 'form'" (submitEvent)="addData($event)" [data]="data"></app-container-form>
            <app-item-form *ngIf="data.type == 'itemForm'" (submitEvent)="addData($event)" [data]="data"></app-item-form>

            <div name="modal" *ngIf="data.type == 'delete'">
                <header>Delete container #{{ data.id }}</header>
                <div>Are you sure you want to delete this container?</div>
                <div>All items inside will also be deleted.</div>
                <footer>
                    <button (click)="closeModal()" pButton class="p-button-danger">Cancel</button>
                    <button (click)="deleteData(data)" pButton class="p-button-success">Confirm</button>                   
                </footer>
            </div>

            <div name="modal" *ngIf="data.type == 'deleteItems'">
                <header>Delete items</header>
                <div>Are you sure you want to delete these items?</div>
                <footer>
                    <button (click)="closeModal()" pButton class="p-button-danger">Cancel</button>
                    <button (click)="deleteData(data)" pButton class="p-button-success">Confirm</button>                   
                </footer>
            </div>

        </main>
    </div>
</div>
