<app-warehouse-header></app-warehouse-header>
<app-search-bar (searchEvent)="searchContainers($event)"></app-search-bar>
<div class="container-page">
    <div *ngFor="let elem of containers" class="container">
        <div>
        <header>Container ID: {{elem.id}}</header>
        <section>
            <div>
                {{ elem.transport_name }}
            </div>
            <div>
                {{ elem.transport_size }} ft<sup>3</sup>
            </div>
            <div>
                {{ elem.location }}
            </div>
        </section>
        <main>
            <app-item-list [id]="elem.id"></app-item-list>
        </main>
        <footer>
            <button (click)="displayModal({type: 'delete', id: elem.id})" pButton class="p-button-danger"><div class="pi pi-trash"></div>Delete</button>
            <a [routerLink]="[elem.id]"><button pButton><div class="pi pi-bars"></div>View</button></a>
        </footer>
        </div>
    </div>
    
    <div class="addContainer">
        <div (click)="displayModal({type: 'form'})">
            <div class="pi pi-plus-circle"></div>
            <div>Add Container</div>
        </div>
    </div>

</div>

<app-modal *ngIf="showModal.state" [data]="showModal.data" 
        (deleteContainerEvent)="deleteContainer($event)" 
        (closeEvent)="displayModal({})"
        (sumbitContainerEvent)="addContainer($event)">
    </app-modal>