<app-warehouse-header></app-warehouse-header>
<nav>
    <a [routerLink]="['../../' + wh_id]"><div class="pi pi-arrow-left"></div> Back to container</a>
</nav>

<div class="container">
    <header>
        <div>Container #{{ container.id }}</div>
    </header>  
    <section class="container-info">
        <div>Type: {{ container.transport_name }}</div>
        <div>{{ currentSpace }} / {{ container.transport_size }} ft<sup>3</sup></div>
        <div>Location: {{ container.location }}</div>
    </section>

    <app-item-list [id]="id" [edit]="edit" [item]="itemEntry" [itemChecklist]="itemChecklist"
        (onChangeEvent)="updateEditList($event)" 
        (onClickEvent)="displayModal({type: 'itemForm', item: $event})">
    </app-item-list>

    <section class="add-button">
        <button (click)="displayModal({type: 'itemForm', id})" pButton class="p-button-warning"><div class="pi pi-plus"></div>Add Item</button>
    </section>

    <footer>
        <div *ngIf="!edit; else editMode">
            <button (click)="showEdit()" pButton>Edit</button>
        </div>
        <ng-template #editMode>
            <div>
                <button (click)="displayModal({type: 'deleteItems', itemChecklist})" pButton class="p-button-danger" *ngIf="itemChecklist.length != 0; else showButton">
                    <div class="pi pi-trash"></div>Delete Items
                </button>
                <ng-template #showButton>
                    <button pButton class="p-button-danger" disabled>
                        <div class="pi pi-trash"></div>Delete Items
                    </button>
                </ng-template>
                <button (click)="displayModal({type: 'form', container})" pButton>Edit Container</button>
                <button (click)="showEdit()" pButton class="p-button-success">Done</button>
            </div>
        </ng-template>
    </footer>
</div>

<app-modal *ngIf="showModal.state" [data]="showModal.data" 
    (sumbitItemEvent)="addItem($event)"
    (sumbitContainerEvent)="editContainer($event)"
    (closeEvent)="displayModal({})"
    (deleteItemEvent)="deleteItems($event)">
</app-modal>