<div>
    <nav>
        <button><a [routerLink]="['']">Go back</a></button>
    </nav>

    <header>
        <div># {{ container.id }}</div>
    </header>  
    <section>
        <div>{{ container.transport_name }}</div>
        <div>{{ currentSpace }} / {{ container.transport_size }} ft<sup>3</sup></div>
        <div>{{ container.location }}</div>
    </section>

    <app-item-list [id]="id" [edit]="edit" [item]="itemEntry"></app-item-list>
    <section>
        <button (click)="displayModal({type: 'itemForm', id})">Add Item</button>
    </section>
    <footer>
        <div *ngIf="!edit; else editMode">
            <button (click)="showEdit()">Edit</button>
        </div>
        <ng-template #editMode>
            <div>
                <button>Delete</button>
                <button>Edit Container</button>
                <button (click)="showEdit()">Done</button>
            </div>
        </ng-template>
    </footer>
</div>

<app-modal *ngIf="showModal.state" [data]="showModal.data" (sumbitEvent)="addItem($event)"></app-modal>