/* table {
    background-color: darkgreen;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

thead {
    border-bottom: 1px solid black;
} */

tr:hover {
    background-color: lightgray;
}

/* td {
    padding: 5px;
    
} */

td > input {
    height: 15px;
    width: 15px;
    box-shadow: 0 0 0 1px gray;
    outline: none;
    border: none;
    overflow: hidden;   
}

td > input:hover {
    box-shadow: 0 0 0 2px skyblue;
    cursor: pointer;
}

td > div {
    font-size: 24px;
}

td > div:hover {
    cursor: pointer;
}

.empty {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}

