<div *ngIf="items.length != 0 ; else showEmpty">

    <p-table [value]="items">
        <ng-template pTemplate="header">
            <tr>
                <th *ngIf="edit"></th>
                <th>ID
                    <div class="pi pi-sort-alpha-down" (click)="sort({sort: 'item_id', order: 'desc'})" *ngIf="this.sortState.id_asc ; else id"></div>
                    <ng-template #id>
                        <div class="pi pi-sort-alpha-up" (click)="sort({sort: 'item_id', order: 'asc'})"></div>
                    </ng-template>
                </th>
                <th>Name
                    <div class="pi pi-sort-alpha-down" (click)="sort({sort: 'name', order: 'desc'})" *ngIf="this.sortState.name_asc ; else name"></div>
                    <ng-template #name>
                        <div class="pi pi-sort-alpha-up" (click)="sort({sort: 'name', order: 'asc'})"></div>
                    </ng-template>
                </th>
                <th>Size
                    <div class="pi pi-sort-numeric-down" (click)="sort({sort: 'size', order: 'desc'})" *ngIf="this.sortState.size_asc ; else size"></div>
                    <ng-template #size>
                        <div class="pi pi-sort-numeric-up" (click)="sort({sort: 'size', order: 'asc'})"></div>
                    </ng-template>
                </th>
                <th>Amount
                    <div class="pi pi-sort-numeric-down" (click)="sort({sort: 'units', order: 'desc'})" *ngIf="this.sortState.amount_asc ; else amount"></div>
                    <ng-template #amount>
                        <div class="pi pi-sort-numeric-up" (click)="sort({sort: 'units', order: 'asc'})"></div>
                    </ng-template>
                </th>
                <th>Date
                    <div class="pi pi-sort-numeric-down" (click)="sort({sort: 'datetime', order: 'desc'})" *ngIf="this.sortState.date_asc ; else date"></div>
                    <ng-template #date>
                        <div class="pi pi-sort-numeric-up" (click)="sort({sort: 'datetime', order: 'asc'})"></div>
                    </ng-template>
                </th>
                <th *ngIf="edit"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-elem>
            <tr>
                <td *ngIf="edit"><input type="checkbox" (change)="itemChecklistHandler(elem.item_id)"></td>
                <td>{{ elem.item_id }}</td>
                <td>{{ elem.name }}</td>
                <td>{{ elem.size }} ft<sup>3</sup></td> 
                <td>{{ elem.units }}</td>
                <td>{{ elem.datetime | date: 'short'}}</td>
                    <td *ngIf="edit"><div (click)="openModal(elem)" class="pi pi-cog"></div></td>
            </tr>
        </ng-template> 
    </p-table>

</div>

<ng-template #showEmpty>
    <div class="empty">
        <div>This container is empty. Try adding an item.</div>
    </div>
</ng-template>

